@page
@model OdeToFood.Pages_Restaurants_.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<table class="table">
    @foreach(var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Id</td>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cuisine</td>
        </tr>
    }
</table>

